body {
    font-family: "Montserrat", sans-serif;
    background-color: #B1FACA;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Montserrat", sans-serif;
}

h1 {
    background-color: #00b0ff;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding: 14px 0 10px 49px;
    letter-spacing: 1px;
    margin-left: -52px;
    width: 330px;
}

.payment-info {
    margin-top: 30px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.payment-info img {
    max-width: 100%;
    height: auto;
    font-family: "Montserrat", sans-serif;
}

.payment-instructions {
    margin-top: 20px;
    font-size: 18px;
    color: #666;
    font-family: "Montserrat", sans-serif;
}

.payment-amount {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.payment-button {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 30px auto 0;
    padding: 15px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.payment-button:hover {
    background-color: #0056b3;
    font-family: "Montserrat", sans-serif;
}